MYSQL_DATABASE=prototype_dev
MYSQL_USER=prototype_dev_user
MYSQL_PASSWORD=change-me-local
MYSQL_ROOT_PASSWORD=change-me-root-local

REDIS_HOST=127.0.0.1
REDIS_PORT=16379
REDIS_PASSWORD=

MINIO_ENDPOINT=http://127.0.0.1:19000
MINIO_BUCKET=prototype-objects
MINIO_ROOT_USER=minio_dev_admin
MINIO_ROOT_PASSWORD=change-me-minio-local
BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=change-me-admin-local
UPLOAD_PUBLIC_BASE_URL=http://prototype.localhost:18000/upload-objects
MANAGEMENT_BASE_URL=http://prototype.localhost:18000
PREVIEW_BASE_URL=http://preview.localhost:18000
PROTOTYPE_DOMAIN=http://prototype.localhost:18000
PREVIEW_DOMAIN=http://preview.localhost:18000
SESSION_COOKIE_SECURE=false
SESSION_TIMEOUT=12h
